name: Publish

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  publish:
    name: Publish otel extension
    runs-on: linux-arm64
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'gradle'
      - name: Build jar
        run: ./gradlew --no-daemon shadowJar
      - name: Build jar
        run: ls -a
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/libs/otel-extension.jar
          asset_name: otel-extension
          tag: ${{ github.ref }}
          overwrite: true
  create-change-log:
    needs: publish
    name: Create and publish change log
    runs-on: linux-arm64
    timeout-minutes: 5
    steps:
      - name: Run changelog cli action
        uses: monta-app/changelog-cli-action@main
        with:
          service-name: "Open Telemetry Extension"
          github-release: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          jira-app-name: "montaapp"
          output: "slack"
          slack-token: ${{ secrets.SLACK_APP_TOKEN }}
          # Slack channel: C02PDBL6GAU = #info-releases
          slack-channel: "C02PDBL6GAU,#backend-observability"
